*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5vw;
}